<header class="ferrari-header">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">RACING</a>
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="#">SPORTS CARS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">COLLECTIONS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">EXPERIENCES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT US</a>
          </li>
        </ul>
        <div class="d-flex">
          <a class="nav-link search-link" href="#">SEARCH</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="hero-section">
    <div class="hero-content">
      <h2>SPORTS CARS</h2>
      <h1>START YOUR ENGINE</h1>
      <p>DISCOVER THE FERRARI LINE UP</p>
    </div>
  </div>

  <div class="video-carousel-container">
    <ngb-carousel *ngIf="videos" class="ferrari-video-carousel" [interval]="0" [showNavigationArrows]="true" [showNavigationIndicators]="true">
      <ng-template ngbSlide *ngFor="let video of videos; let i = index">
        <div class="video-wrapper">
          <video #videoPlayer class="video-element" muted (click)="togglePlay(videoPlayer)" [poster]="video.poster">
            <source [src]="video.src" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <div class="play-overlay" *ngIf="!isPlaying[i]" (click)="togglePlay(videoPlayer)">
            <i class="bi bi-play-fill"></i>
          </div>
        </div>
        <div class="carousel-caption">
          <h3>{{video.title}}</h3>
          <p>{{video.description}}</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</header>