.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    min-width: 200px;
}

.select-car {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    flex-wrap: wrap;
    gap: 15px;
}

img {
    padding-top: 30px;
    max-width: 100vh;
}