<footer>
    <section class="up">
        <div class="sociais">
            <p>Redes Sociais</p>
            <ul>
                <li>
                    <a href="https://www.facebook.com/FordBrasil/"><img src="https://www.ford.com.br/content/ford/br/pt_br/configuration/navigation-config/footer-config/jcr:content/footer/socialShare/image/image.imgs.full.high.png/1708984168396.png" alt="Facebook"></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/fordbrasil"><img src="https://www.ford.com.br/content/ford/br/pt_br/configuration/navigation-config/footer-config/jcr:content/footer/socialShare/image_683448987/image.imgs.full.high.png/1708984183904.png" alt="YouTube"></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/fordbrasil/"><img src="https://www.ford.com.br/content/ford/br/pt_br/configuration/navigation-config/footer-config/jcr:content/footer/socialShare/image_349717239/image.imgs.full.high.png/1708984070913.png" alt="Instagram"></a>
                </li>
                <li>
                    <a href="https://www.tiktok.com/@fordbrasil"><img src="https://www.ford.com.br/content/ford/br/pt_br/configuration/navigation-config/footer-config/jcr:content/footer/socialShare/image_955959942/image.imgs.full.high.png/1708984080180.png" alt="TikTok"></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/ford-brasil/"><img src="https://www.ford.com.br/content/ford/br/pt_br/configuration/navigation-config/footer-config/jcr:content/footer/socialShare/image_804576965/image.imgs.full.high.png/1708984087255.png" alt="Linkedin"></a>
                </li>
            </ul>
        </div>
        <a [routerLink]="['/']"><img class="logo-ford" src="https://prodb2cuicontentdelivery-d0bbevfjaxfmedda.z01.azurefd.net/b2cui/assets/images/ford-logo.svg" alt="Logo Ford"></a>
    </section>
    <section class="down">
        <ul class="copy-list">
            <li>
                <a href="https://www.ford.com.br/copyright/">Copyright © 2025 Ford Motor Company - Todos os direitos reservados</a>
            </li>
            <li>
                <a href="https://www.ford.com.br/politica-de-privacidade/">Política de Privacidade</a>
            </li>
            <li>
                <a href="https://relacionamentoford.com.br/?utm_medium=referral&utm_source=site-ford&utm_campaign=lgpd&utm_content=0&utm_term=0">Direitos do Titular</a>
            </li>
        </ul>
    </section>
</footer> 