.main-section {
    display: flex;
    margin-top: 15vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-section h1 {
    color: #102b4e;
    font-size: 64px;
    text-align: center;
}

.main-btn {
    display: flex; /* Flexbox para centralizar */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    height: 40px;
    color: white;
    border: none;
    font-weight: 600;
    padding: 0 32px;
    border-radius: 20px;
    text-decoration: none;
    transition-duration: 0.5s;
    background-color: #00095b;
    width: fit-content;

}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1150px) {
    .main-section img {
        width: 80vw;
    }
}