<form>
    <div class="form-floating">
        <input type="text" id="login" class="input-box form-control" placeholder="Digite seu username aqui" required>
        <label for="login">Login</label>
    </div>
    <div class="form-floating">
        <input type="password" id="password" class="input-box form-control" placeholder="Digite sua senha aqui" required>
        <label for="password">Senha</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Lembrar de mim</label>
    </div>
    <p id="message-error">Nome de usuário e/ou senha incorreto(s)</p>
    <button type="button" (click)="submit($event)">Conectar</button>
</form>